.menu-route-project {
  background: #282828;
  border-radius: 10px;
  padding: 5px;
  width: 95%;
  margin: 5px;
  transition: 0.3s ease-in-out;
  border: 1px solid transparent;
}
.menu-route-project:hover {
  color: #fff;
  font-weight: 800;
  box-shadow:
    3px 3px #fff,
    -3px 0 3px #9f9e9e;
}
.menu-route-project-button {
  display: block;
  width: 100%;
  margin: 10px;
  max-width: 200px;
}
.menu-active-project {
  border: 3px solid;
  background: #282828;
  border-color: #fff;
}
.task-view {
  display: flex;
  flex-direction: column;
  height: 100vh; /* или 100% если внутри контейнера */
  overflow: hidden;
}

.task-items {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* чтобы новые задачи были внизу — автоскролл при необходимости */
.task-items::-webkit-scrollbar {
  width: 6px;
}

.task-items::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.details-task-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
